# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform plan files
*.tfplan

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/
app/.venv/

# IDEs
.vscode/
.idea/
